@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    font-family: 'Oxygen', sans-serif;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    color: white;
}
.head{
    text-align: center;
    padding-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
    background-color: #404241;
   
}
.box{
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.box .nav{
    margin-left: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-top: 1vw;
    padding-bottom: 30vw;
    margin-right: 65vw;
    background-color: #f7df1e
}
.box .nav h2{
    text-align: center;
}
.box .art1{
    margin-left: 35vw;
    margin-top: -34.3vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
    padding: 4vw;
    background-color: #404241;
}
.box .art1 h3{
    text-align: center;
}
.box .art2{
    margin-left: 35vw;
    margin-top: 1.8vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
    padding: 4vw;
    background-color: #404241;
}
.box .art2 h3{
    text-align: center;
}
.box .art3{
    background-color: #404241;
    margin-left: 35vw;
    margin-top: 1.8vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
    padding: 4vw;
}
.box .art3 h3{
    text-align: center;
}
.footer{
    text-align: center;
    background-color: #404241;
    padding-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.footer a{
    text-decoration: none;
}
.footer .fas{
    margin-right: 0.5vw;
}