@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    font-family: 'Oxygen', sans-serif;
    padding: 0;
    margin: 0;
}
.head{
    text-align: center;
    border: #09859E 1px solid;
    padding-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}
.box{
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.box .nav{
    border: #09859E 1px solid;
    margin-left: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-top: 1vw;
    padding-bottom: 30vw;
    margin-right: 65vw;
}
.box .nav h2{
    text-align: center;
}
.box .art1{
    border: #09859E 1px solid;
    margin-left: 35vw;
    margin-top: -34.3vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
    padding: 4vw;
}
.box .art1 h3{
    text-align: center;
}
.box .art2{
    border: #09859E 1px solid;
    margin-left: 35vw;
    margin-top: 1.8vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
    padding: 4vw;
}
.box .art2 h3{
    text-align: center;
}
.box .art3{
    border: #09859E 1px solid;
    margin-left: 35vw;
    margin-top: 1.8vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
    padding: 4vw;
}
.box .art3 h3{
    text-align: center;
}
.footer{
    text-align: center;
    border: #09859E 1px solid;
    padding-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.footer a{
    text-decoration: none;
    color: #09859E;
}
.footer .fas{
    color: #09859E;
    margin-right: 0.5vw;
}